fastapi==0.109.2
uvicorn[standard]==0.27.1
sqlalchemy==2.0.25
pydantic==2.6.1
httpx==0.26.0
pdfminer.six==20231228
tabula-py==1.1.0
jpype1==1.5.0 # Required by tabula-py
python-multipart==0.0.9 # Required for UploadFile and Form data in FastAPI
openai